div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    border: 2px solid black;
    border-radius: 25px;
    pointer-events: none;
}

.generation {
    position: absolute;
    top: 220px;
    left: 1450px;
    width: 90px;
}

.legendary {
    position: absolute;
    top: 120px;
    left: 1450px;
    width: 60px;
}